*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #02001d;
  transition: 0.5s;
}

.container.dark {
  background: #fff;
}
